/* body{
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
} */

.heading{
text-align: center;
margin-top: 5%;

}

#navigation-bar{
  width: 100%;
}

#container-for-featured-listings{

  text-align: center;
  
}

.featured-listing{
  width: 40%;
  height: 20%;
  text-align: center;
}

.login-and-signup-messages{

}


.toggle-login{
color: skyblue;
}

.toggle-login:hover{
  color: darkgrey;
}

.login-and-signup-form-fields{
  width: 20%;
  height: 5%;
  margin: 1.5%;

}

.containers-for-login-page{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit-buttons{
  width: 10%;
  height: 5%;
  margin-top: 2%;
}

.tabs{
  margin: 2%;
  padding: 2%; 
  width: 100%;
  color: black;
  text-decoration: none;
}

.homepage-container{
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

.forms{
  text-align: center;
}

.heading-for-forms{
  text-align: center;
}

.container-for-general-donation-listings{
display: flex;
justify-content: flex-start;
}

.general-listing{
  text-align: left;
  width: 20%;
  height: 20%;
  margin: 2%;
}

.background-for-general-listings{
  background-color: lightgray;
}



